<div class="user__content">
  <article class="user__card shadow-medium">
    <div class="user__image">
        <img 
          src="https://rickandmortyapi.com/api/character/avatar/361.jpeg" 
          alt="User card" 
          class="user__img">
        <a routerLink="/details" class="user__button">
          <i class="bi bi-arrow-right"></i>
        </a>
    </div>

    <div class="user__data">
        <h2 class="user__title">
          Toxic Rick
        </h2>
        <p class="user__description">
          Rick's Toxic Side
        </p>
    </div>
</article>
</div>