.user-card{
    font-family: "Verdana", sans-serif;
    margin: 10px;
    padding: 1.25rem 1.25rem 2.5rem;
    height: auto;
    transition: background-color .4s;
    color: #252525;
    border-radius: .5rem;
    background-image: linear-gradient(0deg, #e80537 20%, #fafafa 10%);
}

.shadow-medium {
    box-shadow: 0 4px 16px rgba(0,0,0,.2);
  }

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.user-image{
    position: relative;
    margin-bottom: .75rem;
    height: 4rem;
}

.user-image img{
    margin-left: 3rem;
    padding-top: 1rem;
}

.user-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    margin-top: 2rem;
}