@import "~bootstrap-icons/font/bootstrap-icons.css";¼

.shadow-medium {
  box-shadow: 0 4px 16px rgba(0,0,0,.2);
}

.about__content {
  row-gap: 3rem;
  font-family: 'Raleway', sans-serif;
}

.about__card{
  background-color: hsl(152, 24%, 32%);
  border-radius: .5rem;
}
.about__image {
  position: relative;
  margin-bottom: 1.5rem;
}

.about__img {
  border-radius: .5rem .5rem 0 0;
}

.about__button {
  display: inline-flex;
  background-color: #fff;
  padding: 1.15rem;
  border-radius: .5rem 0 0 0;
  font-size: 2rem;
  color: hsl(152, 24%, 32%);
  position: absolute;
  right: 0;
  bottom: 0;
}

.about__button i {
  transform: rotate(-30deg);
  transition: .4s;
}

.about__button:hover i {
  transform: rotate(-30deg) translateX(.25rem);
}

.about__title,
.about__description{
  display: grid;
  justify-content: center;
  color: #fff;
}

.about__title {
  font-size: 1.25rem;
  margin-bottom: .75rem;
  
}

.about__description {
  padding-bottom: 1rem;
}