<div class="about__content grid">
  <article class="about__card shadow-medium">
    <div class="about__image">
        <img 
          src="https://rickandmortyapi.com/api/character/avatar/361.jpeg" 
          alt="User card" 
          class="about__img">
        <a routerLink="/details" class="about__button">
          <i class="bi bi-arrow-right"></i>
        </a>
    </div>

    <div class="about__data">
        <h2 class="about__title">
          Toxic Rick
        </h2>
        <p class="about__description">
          Rick's Toxic Side
        </p>
    </div>
</article>
</div>