.details{
  padding-block: 1rem 2rem;
}

.details__card {
  padding: 1rem 1rem 2rem;
  transition: background-color 0.4s;
  color: var(--dark-color);
  background-color: var(--white-color);
}

.details__image {
  position: relative;
  margin-bottom: 0.75rem;
}

.details__content {
  margin-bottom: 1.25rem;
}

.details__subtitle {
  position: relative;
  display: inline-block;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--body-color);
  margin-bottom: 0.75rem;
  padding-left: 1.75rem;
}

.details__subtitle::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: var(--body-color);
  position: absolute;
  top: 50%;
  left: 0;
}

.details__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}

.details__link {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--body-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  transition: color 0.4s;
}

.details__link i {
  font-size: 1rem;
  color: var(--first-color);
  transition: color 0.4s;
}

.details__card:hover {
  background-color: var(--container-color);
  color: var(--second-color);
}

.details__container {
  row-gap: 2rem;
  grid-auto-columns: 370px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.details__buttons {
  display: grid;
  flex-wrap: wrap;
  gap: 1rem;
  grid-template-columns: repeat(2, 150px);
}

.card__button{
  margin-left: 4rem;
  margin-top: 1rem;
}


@media screen and (min-width: 1150px) {
  .details__card {
    padding: 2rem 2rem 1rem;
  }

  .details__image {
    margin-bottom: 1rem;
  }

  .details__content {
    margin-bottom: 2rem;
  }

  .projects__button {
    right: 1.25rem;
  }
}