<body>
  <main class="main">
    <section class="about section container" id="about">
      <div class="about__container grid">
        <img src="https://rickandmortyapi.com/api/character/avatar/361.jpeg" alt="" class="about__img" />

        <div class="about__data">
          <h2 class="section__title about__title">
            About Toxic Rick 
          </h2>

          <!-- <p class="about__description">
            We have over 4000+ unbiased reviews and our customers trust our
            plant process and delivery service every time
          </p> -->

          <div class="about__details">
            <p class="about__details-description">
              <i class="bi bi-bookmark-check-fill about__details-icon"></i>
              "status": "Dead",
            </p>
            <p class="about__details-description">
              <i class="bi bi-bookmark-check-fill about__details-icon"></i>
              "species": "Humanoid",
            </p>
            <p class="about__details-description">
              <i class="bi bi-bookmark-check-fill about__details-icon"></i>
              "type": "Rick's Toxic Side",
            </p>
            <p class="about__details-description">
              <i class="bi bi-bookmark-check-fill about__details-icon"></i>
              Origin: "Alien Spa",
            </p>
            <p class="about__details-description">
              <i class="bi bi-bookmark-check-fill about__details-icon"></i>
              "location": "Earth",
            </p>
          </div>

          <a href="#" class="button--link button--flex">
            Shop Now <i class="ri-arrow-right-down-line button__icon"></i>
          </a>
        </div>
      </div>
    </section>
  </main>
</body>
