<body>
  <main class="l-main">
    <section class="about section bd-container" id="about">
      <div class="about__container bd-grid">
        <div class="about__data">
          <span class="section-subtitle about__initial">About the character</span>
          <h2 class="section-title about__initial">
            Toxic Rick <br />
            Rick's Toxic Side
          </h2>
          <div class="about__description-text">
            <p class="about__description">
                <i class="bi bi-bookmark-check-fill about__details-icon"></i>
                  Species: Humanoid
              </p>
              <p class="about__description">
                <i class="bi bi-bookmark-check-fill about__details-icon"></i>
                  Origin: Alien Spa
              </p>
              <p class="about__description">
                <i class="bi bi-bookmark-check-fill about__details-icon"></i>
                Location: Earth
              </p>
              <p class="about__description">
                <i class="bi bi-bookmark-check-fill about__details-icon"></i>
                  Created: Humanoid
              </p>
              
          </div>
          <a routerLink="/listing" class="button">View card</a>
          
        </div>

        <img src="https://rickandmortyapi.com/api/character/avatar/361.jpeg" alt="" class="about__img" />
      </div>
    </section>
  </main>
</body>
