a {
  text-decoration: none;
}

.shadow-medium {
    box-shadow: 0 4px 16px rgba(0,0,0,.2);
}

.projects-card {
    padding: 1rem 1rem 2rem;
    transition: background-color 0.4s;
    color: #252525;
  }

  .projects__content {
    margin-bottom: 1.25rem;
  }
  
  .projects__title {
    font-size: 1.125rem;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
  }
  
  .projects__buttons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  
  .projects__link {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    color: hsl(0, 0%, 0%);
    font-size: 0.813rem;
    font-weight: 400;
    transition: color 0.4s;
  }
  
  .projects__link i {
    font-size: 1rem;
    color: hsl(0, 0%, 0%);
    transition: color 0.4s;
  }
  
  .projects__link:hover,
  .projects__link:hover i {
    color: #fff;
  }
  
  .projects-card:hover {
    background-color: #e80537;
    color: #fff;
  }
  
  .projects__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }