
  <article class="projects-card shadow-medium">
    <div class="projects__image">
      <img
        src="https://rickandmortyapi.com/api/character/avatar/361.jpeg"
        class="projects__img"
        alt="Projects"
      />
    </div>

    <div class="projects__content">
      <h2 class="projects__title">Toxic Rick</h2>
      <p class="projects__description">Rick's Toxic Side</p>
    </div>

    <div class="projects__buttons">
      <a href="#" target="_blank" class="projects__link">
        Detalhes
      </a>
    </div>
  </article>

